*.tst
*.cmp
*.out
*.DS_Store
05/*.hack
06/add/Add.asm
06/max/Max.asm
06/max/MaxL.asm
06/pong/Pong.asm
06/pong/PongL.asm
06/*/*.asm
06/*/*.hack
07/*/*/*.vm
07/*/*/*.tst
07/*/*/*.asm
07/*/*/*.html
07/vm
10/*/*.xml
10/*/*.jack
10/compiler
